* {
    color: #F55353;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 1px;
    background-color: #F55353;
    border: none;
}

p, h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul, ol {
    padding-left: 1rem;
}